
<!doctype html>
<html>
	<head>
		<title>Exercise Tracker - Parker Howell</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<!-- Main Content -->
		{{{body}}}
	</body>
</html>