
<h2>Add a completed exercise:</h2>
<form>
   Name:&nbsp;&nbsp;&nbsp;<input id="exerName" type="text" name="name"></br>
	Reps:&nbsp;&nbsp;&nbsp;&nbsp;<input id="exerReps" type="text" name="reps"></br>
	Weight:&nbsp;<input id="exerWeight" type="text" name="weight">&nbsp;&nbsp;&nbsp;
	lbs&nbsp;<input id="lbsRad" type="radio" name="weightType" value="lbs" checked>
	&nbsp;&nbsp;kg&nbsp;<input id="kgRad" type="radio" name="weightType" value="kg"></br>
	Date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="exerDate" type="date" name="date"></br>
	<input id="addExerButton" type="submit" value="Add Exercise">
</form></br></br>

<table id="theTable">
	<caption><h1>Completed Exercises</h1></caption>
	<thead>
		<tr>
		   <th>Ex. Name</th>
		   <th>Reps.</th>
		   <th>Weight</th>
		   <th>lbs/kg?</th>
		   <th>Date</th>
		</tr>
	</thead>
	
	<!-- tbody replaced with new one made with completed exercises... -->
	<tbody>
	</tbody>

</table> 

<script src="home.js"></script>


